body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.box{

    position: fixed;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: #8f829b;
    padding: 20px;
    border-radius: 10px;

}

.box input[type='text'], .box input[type='password']{

    width: 80%;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 10px;
    border: solid #01b140;

}

.box input[type='submit']{

    margin: 10px auto;
    display: block;
    text-align: center;
    padding: 10px;

}

h2{

    text-align: center;

}

img{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

}

.load{

    width: 100%;
    margin: 0px auto;

}

.menu{

    margin: 0;
    padding: 0;
    width: 100%;
    background: black;

}

.menu ul{

    width: 100%;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 0;

}

.menu li{

    float: left;
    margin: 0;
    padding: 0;

}

.menu li a{

    padding: 15px 20px;
    color: white;
    text-decoration: none;
    display: block;
    margin: 0;
    text-transform: uppercase;

}

.menu li.left{

    float: right;

}

/* CADASTRO */

